.screen{
    font-size: 20px;
    padding: 3vw;
    height: 80vh;
    overflow: scroll;
}

.container{
    overflow: hidden;
    img{
        float: left;
        width: 15vw;
        height: 15vw;
    }
    div{
        margin-left: 18vw;
        width: 80%;
        word-break:break-all;
        background-color:whitesmoke;
        border-radius: 3%;
        padding: 2vw;
    }
    padding: 3vw;
}

.container-reverse{
    overflow: hidden;
    img{
        float: right;
        width: 15vw;
        height: 15vw;
    }
    div{
        margin-right:18vw; 
        word-break:break-all;
        background-color: greenyellow;
        border-radius: 3%;
        padding: 2vw;
    }
    padding: 3vw;
}
