.header{
    position: absolute;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
}
.parent{
    position: relative;
    height: 60px;
}