.header{
    position: absolute;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    line-height: 15vw;
    font-size: 8vw;
}
.parent{
    position: relative;
    height: 15vw;
}